#gametime_img, #gametime_imgsm, #locked_img, #comando_img{
    width: 80%;
    margin: 1rem 1rem;
}
.card.color_card{
    background-color: rgba(193, 193, 248, 0.5);
    border-width: 0.5rem;
    box-shadow: blueviolet 0 0 0.5rem;
}
.card .boton_card{
    margin: 1% 1%;
    background-color: rgb(193, 193, 248);
    color: rgb(0, 0, 0);
    border-color: rgb(193, 193, 248);
}
.card .boton_card:hover{
    background-color: rgb(193, 193, 248);
    font-weight: bold;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
        box-shadow: blueviolet 0 0 0.5rem;

}


