#lead{
    width: 80%;
    align-items: center;
    text-align: justify;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
}
#imagen_salon{
    max-width: 30rem;
}
#tarjetas_desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    }
div.card.desktop{
    flex: 0 0 calc(33.333% - 1.5rem);
    max-width: calc(33.333% - 1.5rem);
    height: 38rem; 
    margin-bottom: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

div.card.card-body{
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    }

div.card .img_card{
    width: 100%;
    align-self: center;
    margin: 1rem 1rem;
    height: 12rem;
    object-fit: cover
}
.card.color_card{
    background-color: rgba(193, 193, 248, 0.5);
    border-width: 0.5rem;
    box-shadow: blueviolet 0 0 0.5rem;
}
.card .boton_card, div.descripcion_slide .boton_card{
    margin: 2rem;
    margin-top: auto;
    background-color: rgb(193, 193, 248);
    color: rgb(0, 0, 0);
    border-color: rgb(193, 193, 248);
}
.card .boton_card, div.descripcion_slide .boton_card:hover{
        background-color: rgb(193, 193, 248);
    font-weight: bold;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
        box-shadow: blueviolet 0 0 0.5rem;

}
.card .boton_card:hover{
    background-color: rgb(193, 193, 248);
    font-weight: bold;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
        box-shadow: blueviolet 0 0 0.5rem;

}
.seccion_mobile{
    display: none;
}
.seccion_tablet{
    display: none;
}
.seccion_desktop{
    display: none;
    }

#carrouselSalones{
        width: 100%;
        background-color: rgba(193, 193, 248, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
}
.carousel-inner img{
    width: 100%;
    align-self: center;
}
div.carousel-inner{
    width: 60%;
    margin: 1rem 1rem
}
.label_salon{
    text-align: center;
}
.label_carrousel{
    text-align: center;
    text-shadow: 0.5em 0.5em 0.5em rgba(193, 193, 248, 0.5);
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
}
.descripcion_slide{
    margin: 0.40rem 0.40rem;
    padding: 0.20rem 0.20rem;
    box-shadow: #8a2be2;
}
/* Estos son los estilos del carrusel de cada salon */
.carousel-item img {
    height: 300px;
    object-fit: cover; 
}
div .carousel-indicators{
    top:95%;
}

div .carousel-control-next img,div .carousel-control-prev img {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
div .carousel-control-prev img {
transform: scaleX(-1);
}

div .carousel-indicators .preview-img {
    width: 50px; 
    height: 30px;
    object-fit: cover;
    border-radius: 5px; 
}

div.card.desktop{
    width: 30%;
    margin: auto;
    min-height: 35rem;
}
div.card.desktop img{
    height: 18rem;
    object-fit: cover; 
}


@media (max-width: 719px) {
    .seccion_mobile{
        display: block;
    }
}
@media (min-width: 720px) and (max-width: 1023px) {
    .seccion_tablet{
        display: block;
    }
}
@media (min-width: 1024px) {
    .seccion_desktop{
        display: block;
    }
    #encabezado{
    display: flex;
    justify-content: center;
}
main.container{
    width: 70%;
    margin: 0 auto;
}
}