#logo{
    max-width: 100px;
    min-width: 80px;
}

header, #color_fondo_inicio {
    background-color: rgb(193, 193, 248);
}

header ul li a:hover {
    background-color: rgb(166, 166, 197);
    transform: scale(1.05);
}

#inicio{
    background-image: url(../media/imagen_fondo_inicio.jpg);
    background-color: rgba(193, 193, 248, 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    min-height: 600px;
}

footer{
    background-color: rgb(59, 59, 59);
}

#logofooter{
    max-width: 140px;
}

footer li a:hover {
        background-color: rgba(187, 162, 162, 0.5);
}

#redes img {
    max-width: 75px;
}

#redes img:hover {
    background-color: rgba(187, 162, 162, 0.5);
}